<ng-container *ngIf="(profileState$ | async) as state" [ngSwitch]="state.dataState">
   <ng-container *ngSwitchCase="DataState.LOADED">
      <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
        <aside class="aside" id="sidenav-lg" style="display:none;">  <nav class="navbar navbar-expand-xl navbar-vertical"><div class="container-lg">      </div>       </nav></aside>
     
<!-- Main --> 
    <main class="main px-lg-6">
      <!-- Content -->
      <div class="container-lg">
        <!-- Page content -->
        <div class="row align-items-center">
          <div class="col-12 col-md-auto order-md-1 d-flex align-items-center justify-content-center mb-4 mb-md-0">
            <div class="avatar text-info me-2">
              <span class="material-symbols-outlined fs-2">public</span>
            </div>
            {{currentLocation$ | async}} –&nbsp;<time>{{currentTime}}</time>
          </div>
          <div class="col-12 col-md order-md-0 text-center text-md-start">
            <h1>Hello, {{ state?.appData?.data?.user.username }}</h1>
            <p class="fs-lg text-body-secondary mb-0">Thank you for your visit.</p>
          </div>
        </div>

        <!-- Divider -->
        <hr class="my-8" />


        <div class="row">
          <div class="col-12 col-xxl-8">
            <!-- Performance -->
            <div class="card mb-6">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h3 class="fs-6 mb-0">We worked on the movie Samadhi 3 in French</h3>
                  </div>
                </div>
              </div>
              <div class="card-body p-0">
                <div class="ratio ratio-16x9"> 
                  <iframe 
                    src="https://www.youtube.com/embed/M6hTC0wrqBU?si=s_pDU-hIH2PaIXYr?rel=0" 
                    title="Samadhi 3 french movie" 
                    allowfullscreen>
                  </iframe>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>
</ng-container>
</ng-container>