<section>
    <div class="container mt-2">
       <div class="container bootstrap snippets bootdey">
          <div class="row">
                <div class="mini-stat clearfix bg-facebook rounded">
                   <span class="mini-stat-icon">
                      <i class="bi bi-people-fill fg-facebook"></i> </span>
                   <div *ngIf="users$ | async as response" class="mini-stat-info text-end">
                      <span> {{ response.data?.nbr || 0 }}</span>
                      Total Users
                   </div>
                </div>
          </div>
       </div>
    </div>
 </section>