<!-- Sidenav (lg) -->
<aside class="aside" id="sidenav-lg">
  <nav class="navbar navbar-expand-xl navbar-vertical">
    <div class="container-lg">
      <!-- Brand -->
      <a class="navbar-brand fs-5 fw-bold px-xl-3 mb-xl-4" href="../index.html">
        <span class="material-symbols-outlined">dark_mode</span> Spiritual
      </a>


      <!-- User -->
      <div class="ms-auto d-xl-none">
        <div class="dropdown my-n2">
          <a class="btn btn-link d-inline-flex align-items-center dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="avatar avatar-sm avatar-status avatar-status-success me-3">
              <img class="avatar-img" src="{{ user?.picture }}" alt="{{ user?.username }}" />
            </span>
            {{ user?.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" [routerLink]="['/users/settings']">Account</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#" (click)="logOut()">Sign out</a></li>
          </ul>
        </div>
      </div>

      <!-- Toggler -->
      <button
        class="navbar-toggler ms-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidenavLargeCollapse"
        aria-controls="sidenavLargeCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenavLargeCollapse">
        <!-- Search -->
        <div class="input-group d-xl-none my-4 my-xl-0">
          <input
            class="form-control"
            id="topnavSearchInputMobile"
            type="search"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="navbarSearchMobile"  [(ngModel)]="searchKeyword" (keyup.enter)="searchPosts()"
          />
          <span class="input-group-text" id="navbarSearchMobile">
            <span class="material-symbols-outlined" (click)="searchPosts()" style="cursor: pointer;"> search </span>
          </span>
        </div>

        <!-- Nav -->
        <nav class="navbar-nav nav-pills mb-7">
          <div class="nav-item">
            <a
              class="nav-link "
              href="#"
              [routerLink]="['/']"
            >
              <span class="material-symbols-outlined me-3">space_dashboard</span> Welcome
            </a>
            
          </div>
          <div class="nav-item">
            <a
              class="nav-link "
              href="#"
              [routerLink]="['/users']"
            >
              <span class="material-symbols-outlined me-3">group</span> Users
            </a>
          </div>
          
          <div class="nav-item">
            <a
              class="nav-link"
              href="#"
              [routerLink]="['/users/settings']"
            >
              <span class="material-symbols-outlined me-3">person</span> Account
            </a>
          </div>
          <div class="nav-item">
            <a
              class="nav-link "
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#posts"
              role="button"
              aria-expanded="false"
              aria-controls="posts"
            >
              <span class="material-symbols-outlined me-3">text_fields</span> Blog
            </a>
            <div class="collapse " id="posts">
              <nav class="nav nav-pills">
                <a class="nav-link " [routerLink]="['/blog/posts']">Posts</a>
                <a class="nav-link "  *ngIf="user?.role === 'ADMIN'" [routerLink]="['/blog/create']">New post</a>
              </nav>
            </div>
          </div>    
        </nav>

        <!-- Heading -->
        <h3 class="fs-base px-3 mb-4">Documentation</h3>

        <!-- Nav -->
        <nav class="navbar-nav nav-pills mb-xl-7">
          <div class="nav-item">
            <a class="nav-link " href="#" [routerLink]="['/doc/tech']">
              <span class="material-symbols-outlined me-3">construction</span> Technologies
            </a>
          </div>
          <div class="nav-item">
            <a class="nav-link " href="#" [routerLink]="['/doc/changelog']">
              <span class="material-symbols-outlined me-3">description</span> Changelog
              <span class="badge text-bg-primary ms-auto">1.0.0</span>
            </a>
          </div>
        </nav>

        <!-- Divider -->
        <hr class="my-4 d-xl-none" />

        <!-- Nav -->
        <nav class="navbar-nav nav-pills d-xl-none mb-7">
          <div class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" data-bs-settings-switcher aria-expanded="false">
              <span class="material-symbols-outlined"> settings </span> <span class="d-xl-none ms-3">Settings</span>
            </a>
            <div class="dropdown-menu">
              <!-- Color mode -->
              <h6 class="dropdown-header">Color mode</h6>
              <a class="dropdown-item d-flex" data-bs-theme-value="light" href="#" role="button">
                <span class="material-symbols-outlined me-2"> light_mode </span> Light
              </a>
              <a class="dropdown-item d-flex" data-bs-theme-value="dark" href="#" role="button"> <span class="material-symbols-outlined me-2"> dark_mode </span> Dark </a>
              <a class="dropdown-item d-flex" data-bs-theme-value="auto" href="#" role="button"> <span class="material-symbols-outlined me-2"> contrast </span> Auto </a>
            
              <!-- Divider -->
              <hr class="dropdown-divider" />
            
              <!-- Navigation position -->
              <h6 class="dropdown-header">Navigation position</h6>
              <a class="dropdown-item d-flex" data-bs-navigation-position-value="sidenav" href="#" role="button">
                <span class="material-symbols-outlined me-2"> thumbnail_bar </span> Sidenav
              </a>
              <a class="dropdown-item d-flex" data-bs-navigation-position-value="topnav" href="#" role="button">
                <span class="material-symbols-outlined me-2"> toolbar </span> Topnav
              </a>
            </div>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="https://themes.getbootstrap.com/product/dashbrd/" target="_blank">
              <span class="material-symbols-outlined me-3">local_mall</span> Go to product page
            </a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="mailto:yevgenysim+simpleqode@gmail.com">
              <span class="material-symbols-outlined me-3">alternate_email</span> Contact us
            </a>
          </div>
        </nav>

        <!-- Card -->
        <div class="card mt-auto">
          <div class="card-body">
            <!-- Heading -->
            <h6>Copyright © {{ currentYear }}</h6>

            <!-- Text -->
            <p class="text-body-secondary mb-0">Made by Raphael Zolotarev <a href="https://zolotarev.eu/" target="_blank">www.zolotarev.eu</a></p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</aside>

<!-- Topnav (sm) -->
<nav class="navbar d-none d-xl-flex px-xl-6" id="topnav-sm">
  <div class="container flex-column align-items-stretch">
    <div class="row">
      <div class="col"> 
        <!-- Search -->
        <div class="input-group" style="max-width: 400px">
          <input class="form-control" id="topnavSearchInput"  [(ngModel)]="searchKeyword" (keyup.enter)="searchPosts()" type="search" placeholder="Search" aria-label="Search" aria-describedby="navbarSearch" />
          <span class="input-group-text" id="navbarSearch">
            <kbd class="badge bg-body-secondary text-body ms-1" (click)="searchPosts()" style="cursor: pointer;">SEARCH</kbd>
          </span>
        </div>
      </div>
      <div class="col-auto">
        <!-- User -->
        <div class="dropdown my-n2">
          <a class="btn btn-link d-inline-flex align-items-center dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="avatar avatar-sm avatar-status avatar-status-success me-3">
              <img class="avatar-img" src="{{ user?.picture }}" alt="{{ user?.username }}" />
            </span>
            {{ user?.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" [routerLink]="['/users/settings']">Account</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#" (click)="logOut()">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>